body {
  margin: 0;
  padding: 0;
}

.title {
  color: #000;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.text1 {
  color: #8a94a6;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
}
.text2 {
  color: #8a94a6;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}

.userpass {
  color: #333;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
}

.button {
  display: flex;
  width: 500px;
  height: 45px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #902abc;
}

.buttontext {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2px;
}

.signup {
  color: rgba(187, 57, 243, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.input {
  border-radius: 4px;
  border: 1px solid rgba(187, 57, 243, 0.4);
  background: #fff;
}
